name: Publish Release Artifacts

on:
  push:
    tags:
      - '*'

jobs:
  build:
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        os:
          - linux
          - darwin
          - windows
        arch:
          - amd64
          - arm64
    runs-on: ${{ matrix.os == 'linux' && 'ubuntu-latest' || matrix.os == 'darwin' && 'macos-latest' || 'windows-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Go version
        id: go-version
        run: echo "go-version=$(cat .go-version)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go-version.outputs.go-version }}

      - name: Build
        env:
          CGO_ENABLED: 0
          GOENV: "${{ matrix.os }}"
          GOARCH: "${{ matrix.arch }}"
        run: go build -o ./tosarif .

      - name: Archive
        run: tar -czf tosarif-${{ matrix.os }}-${{ matrix.arch }}.tar.gz ./tosarif

      - name: Create Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tosarif-${{ matrix.os }}-${{ matrix.arch }}
          path: tosarif-${{ matrix.os }}-${{ matrix.arch }}.tar.gz

  release:
    permissions:
      contents: write
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts
      - name: List Artifacts
        run: ls -R1 .
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ github.workspace }}/artifacts/tosarif-linux-amd64/tosarif-linux-amd64.tar.gz
            ${{ github.workspace }}/artifacts/tosarif-linux-arm64/tosarif-linux-arm64.tar.gz
            ${{ github.workspace }}/artifacts/tosarif-darwin-amd64/tosarif-darwin-amd64.tar.gz
            ${{ github.workspace }}/artifacts/tosarif-darwin-arm64/tosarif-darwin-arm64.tar.gz
            ${{ github.workspace }}/artifacts/tosarif-windows-amd64/tosarif-windows-amd64.tar.gz
            ${{ github.workspace }}/artifacts/tosarif-windows-arm64/tosarif-windows-arm64.tar.gz
